AIRTABLE_TOKEN=xxx
AIRTABLE_BASE_ID=xxx
AIRTABLE_TABLE_ID=xxx
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxx
GOOGLE_PRIVATE_KEY=xxx
GOOGLE_CALENDAR_ID=xxx
CRON_SECRET=xxx
CLINIC_ADDRESS=xxx
CLINIC_SESSION_SECRET=xxx
CLINIC_USERS_JSON=xxx
FRESHDESK_API_KEY=xxx
FRESHDESK_DOMAIN=xxx
FRESHDESK_COMPANY_ID=xxx
FRESHSERVICE_API_KEY=xxx
FRESHSERVICE_DOMAIN=xxx
NEXT_PUBLIC_APP_URL=xxx
ZOOM_ACCOUNT_ID=xxx
ZOOM_CLIENT_ID=xxx
ZOOM_CLIENT_SECRET=xxx
ZOOM_USER_ID=xxx

# ADK Live Connect (Realtime Messaging between Doctor and Receptionist)
ART_CLIENT_ID=xxx
ART_CLIENT_SECRET=xxx
ART_ORG_TITLE=xxx
ART_ENVIRONMENT=xxx
ART_PROJECT_KEY=xxx
NEXT_PUBLIC_ART_CHANNEL_NAME=xxx
ART_API_BASE=https://demo.arealtimetech.com/ws
ART_WS_URI=demo.arealtimetech.com/ws
ART_APPOINTMENT_EVENT=send_sms
